
 body {
    font-family: Arial, sans-serif;
    padding: 20px;
    text-align: center; /* Centraliza tudo dentro do body */
    background-color: #F5F5DC;
  }

  input {
    padding: 6px;
    font-size: 16px;
    width: 122px;
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 30px;
    border: 1px solid #a8a7a7;
  }
  

  img {
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

  h2 {
    margin-bottom: 20px;
  }

  button {
    margin: 5px;
    padding: 8px 12px;
    font-size: 17px;
    cursor: pointer;
  }

  .result {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centraliza horizontalmente */
    margin-top: 20px;
  }

  .ball {
    display: inline-block;
    background-color: #4caf50;
    color: white;
    font-weight: bold;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 5px;
    border-radius: 50%;
    text-align: center;
    font-size: 18px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  }

  .number-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 8px;
    max-width: 420px;
    margin: 20px auto;
    font-size: 17px;
}

.number {
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    cursor: pointer;
    background-color: #f5f5f5;
    font-weight: bold;
    transition: all 0.3s ease;
}

.number:hover {
    background-color: #ddd;
}

.number.selected {
    background-color: #4caf50;
    color: #fff;
    border-color: #388e3c;
}


.button-footer {
    display: flex;
    justify-content: center;
    margin: 40px 0;
}


.ball {
    display: inline-block;
    background: #1976d2;
    color: white;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    margin: 4px;
    font-weight: bold;
}



.clover-ball {
    display: inline-block;
    background:#DC143C;
    color: white;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    margin: 4px;
    font-weight: bold;
}


.quina {
  color: #FFFFFF;
  background: #390061;
  border-radius: 20px;
  border: 1px solid transparent;
}

.mega {
  color: #FFFFFF;
  background: #228B22;
  border-radius: 20px;
  border: 1px solid transparent;
}

.time {
  color: black;
  background: 	#FFFF00;
  border-radius: 20px;
  border: 1px solid transparent;
}

.loto {
  color: #FFFFFF;
  background:#A020F0;
  border-radius: 20px;
  border: 1px solid transparent;
}

.mania {
  color: #FFFFFF;
  background:#FF8C00;
  border-radius: 20px;
  border: 1px solid transparent;
}

.button-gerar {
  color: black;
  background:	#B0E0E6;
  border-radius: 20px;
  border: 1px solid transparent;
}

.button-complete {
  background:#4F4F4F;
  color: #FFFFFF;
  border-radius: 20px;
  border: 1px solid transparent;
}

.button-clear {
  background:#B0C4DE;
  color: black;
  border-radius: 20px;
  border: 1px solid transparent;
}