
 body {
    font-family: Arial, sans-serif;
    padding: 20px;
    text-align: center; /* Centraliza tudo dentro do body */
  }

  input {
    padding: 6px;
    font-size: 16px;
    width: 122px;
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 30px;
    border: 1px solid #fe6f5b;
  }
  

  img {
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

  h2 {
    margin-bottom: 20px;
  }

  button {
    margin: 5px;
    padding: 8px 12px;
    font-size: 16px;
    cursor: pointer;
  }

  .result {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centraliza horizontalmente */
    margin-top: 20px;
  }

  .ball {
    display: inline-block;
    background-color: #4caf50;
    color: white;
    font-weight: bold;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 5px;
    border-radius: 50%;
    text-align: center;
    font-size: 18px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  }
